In [225]:
#importing libraries
import pandas as pd

In [331]:
#importing chat data from txt.
arth = pd.read_fwf('E:\Data Analysis Study\Project\Python\WhatsApp EDA\ARTH.txt', header = None , error_bad_lines = False,encoding = 'utf8')

arth.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,"20/01/2019,",2:09 pm - Messages and calls are end-to-end en...,"WhatsApp,",can,read,or,listen,to,them.,Tap,to,learn,more.
1,"20/01/2019,","2:09 pm - You created group ""Kya mile? """,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"20/01/2019,",2:09 pm - RED: Kya hum tum mile?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"20/01/2019,",2:09 pm - RED: Get together kre?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"20/01/2019,",2:09 pm - Anurag: Aa mil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [332]:
#droping unessesary columns
arth.drop([2,3,4,5,6,7,8,9,10,11,12], axis =1, inplace=True)
arth.columns = ['Date', 'Chats']
arth

             Date                                              Chats
0     20/01/2019,  2:09 pm - Messages and calls are end-to-end en...
1     20/01/2019,           2:09 pm - You created group "Kya mile? "
2     20/01/2019,                   2:09 pm - RED: Kya hum tum mile?
3     20/01/2019,                   2:09 pm - RED: Get together kre?
4     20/01/2019,                           2:09 pm - Anurag: Aa mil
...           ...                                                ...
4023  18/03/2021,             9:40 am - Tosiba: noida ki maa ki chut
4024  18/03/2021,                               10:03 am - Anurag: ðŸ˜‚
4025  18/03/2021,           10:04 am - Anurag: Snooker ki ma ki chut
4026  18/03/2021,                    11:26 am - RED: <Media omitted>
4027  18/03/2021,  11:26 am - RED: The Ministry of Electronics an...

[4028 rows x 2 columns]

Spliting Chats into 2 parts time and message

In [333]:
message = arth['Chats'].str.split('-', n = 1, expand = True)
message.columns = ['Time', 'Message']

In [334]:
message
arth = arth.drop("Chats", axis = 1)

In [335]:
arth["Time"] = message["Time"] 
arth["Message"] = message["Message"]

In [336]:
comma = arth['Date'].str.split(',', n = 1, expand = True)
comma.columns = ['Date', 'Com']

In [337]:
comma.drop('Com', axis = 1, inplace = True)

In [338]:
arth['Date'] = comma['Date']

In [339]:
arth

            Date       Time                                            Message
0     20/01/2019   2:09 pm    Messages and calls are end-to-end encrypted. ...
1     20/01/2019   2:09 pm                      You created group "Kya mile? "
2     20/01/2019   2:09 pm                              RED: Kya hum tum mile?
3     20/01/2019   2:09 pm                              RED: Get together kre?
4     20/01/2019   2:09 pm                                      Anurag: Aa mil
...          ...        ...                                                ...
4023  18/03/2021   9:40 am                        Tosiba: noida ki maa ki chut
4024  18/03/2021  10:03 am                                           Anurag: ðŸ˜‚
4025  18/03/2021  10:04 am                       Anurag: Snooker ki ma ki chut
4026  18/03/2021  11:26 am                                RED: <Media omitted>
4027  18/03/2021  11:26 am    RED: The Ministry of Electronics and Informat...

[4028 rows x 3 columns]

In [340]:
Name = arth['Message'].str.split(':', n = 1, expand = True)
Name.columns = ['name', 'Message']

In [341]:
arth = arth.drop('Message', axis = 1)

In [342]:
arth

            Date       Time
0     20/01/2019   2:09 pm
1     20/01/2019   2:09 pm
2     20/01/2019   2:09 pm
3     20/01/2019   2:09 pm
4     20/01/2019   2:09 pm
...          ...        ...
4023  18/03/2021   9:40 am
4024  18/03/2021  10:03 am
4025  18/03/2021  10:04 am
4026  18/03/2021  11:26 am
4027  18/03/2021  11:26 am

[4028 rows x 2 columns]

In [343]:
arth['name'] =Name['name']
arth['Message'] = Name['Message'].str.lower()

In [344]:
arth.head(5)

,Date,Time,name,Message
0,20/01/2019,2:09 pm,Messages and calls are end-to-end encrypted. ...,None
1,20/01/2019,2:09 pm,"You created group ""Kya mile? """,None
2,20/01/2019,2:09 pm,RED,kya hum tum mile?
3,20/01/2019,2:09 pm,RED,get together kre?
4,20/01/2019,2:09 pm,Anurag,aa mil

In [345]:
arth.isna().sum()

Date        5
Time        8
name       15
Message    31
dtype: int64

In [346]:
arth.fillna(0, inplace = True)

In [347]:
arth.head(5)

,Date,Time,name,Message
0,20/01/2019,2:09 pm,Messages and calls are end-to-end encrypted. ...,0
1,20/01/2019,2:09 pm,"You created group ""Kya mile? """,0
2,20/01/2019,2:09 pm,RED,kya hum tum mile?
3,20/01/2019,2:09 pm,RED,get together kre?
4,20/01/2019,2:09 pm,Anurag,aa mil

In [348]:
!pip install emoji

Requirement already satisfied: emoji in c:\programdata\anaconda3\lib\site-packages (1.2.0)

In [349]:
import emoji

In [350]:
# talked 26 days in 3 years other days there were no chat
arth["Time"].value_counts().unique()

array([39, 33, 30, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,
        9,  8,  7,  6,  5,  4,  3,  2,  1], dtype=int64)

In [351]:
arth["Date"].unique()

array(['20/01/2019', '26/01/2019', '27/01/2019', '28/11/2019',
       '29/11/2019', '30/11/2019', '01/12/2019', '02/12/2019',
       '03/12/2019', '14/12/2019', '16/12/2019', '17/12/2019',
       '20/12/2019', '21/12/2019', '31/12/2019', '01/01/2020',
       'Happy New y', '17/02/2020', '14/05/2020', 0, 'And then sh',
       'She : kutta', '15/05/2020', '19/05/2020', '12/06/2020',
       '14/06/2020', '15/06/2020', '16/06/2020', '17/06/2020',
       '18/06/2020', '20/06/2020', '21/06/2020', '22/06/2020',
       '23/06/2020', '25/06/2020', '26/06/2020', '27/06/2020',
       '28/06/2020', '29/06/2020', '30/06/2020', '01/07/2020',
       '03/07/2020', '04/07/2020', '05/07/2020', '06/07/2020',
       '07/07/2020', '08/07/2020', '09/07/2020', '10/07/2020',
       '19/07/2020', '20/07/2020', '21/07/2020', '13/12/2020',
       '14/12/2020', '15/12/2020', '16/12/2020', '17/12/2020',
       '19/12/2020', '20/12/2020', 'https://bnc', '23/12/2020',
       '24/12/2020', '25/12/2020', '26/12/2020', '27/12/2020',
       '28/12/2020', '29/12/2020', '30/12/2020', '31/12/2020',
       '01/01/2021', '02/01/2021', '03/01/2021', '04/01/2021',
       '05/01/2021', '07/01/2021', '@9175034788', '09/01/2021',
       '10/01/2021', 'dekhlo lavd', '15/01/2021', '16/01/2021',
       '17/01/2021', '18/01/2021', '19/01/2021', '24/01/2021',
       '29/01/2021', '31/01/2021', '06/02/2021', 'http://chng',
       '07/02/2021', '08/02/2021', '13/02/2021', '14/02/2021',
       '16/02/2021', '17/02/2021', '18/02/2021', '19/02/2021',
       '21/02/2021', '23/02/2021', '26/02/2021', '27/02/2021',
       '28/02/2021', '01/03/2021', '02/03/2021', '04/03/2021',
       '05/03/2021', '06/03/2021', '07/03/2021', '08/03/2021',
       '09/03/2021', '10/03/2021', '13/03/2021', '14/03/2021',
       '16/03/2021', '17/03/2021', 'Will get ba', 'Thanks.', 'Thanks',
       '18/03/2021'], dtype=object)

In [352]:
#how many times the media were sent 
# how many times the group were changed 
#how many times the person left
#all group names till the date
arth["name"].value_counts()

 RED                                                                                   1489
 Tosiba                                                                                1211
 Gotiya                                                                                 779
 Anurag                                                                                 518
0                                                                                        15
 You added Gotiya                                                                         2
 Gotiya left                                                                              2
 You created group "Kya mile? "                                                           1
 You changed the subject from "Part khatam photo de!" to "Party khatam photo de!"         1
 Messages and calls are end-to-end encrypted. No one outside of this chat, not even       1
 You changed the subject from "Tushar in Delhi" to "ABCD"                                 1
 Gotiya changed the subject from "Party khatam photo de!" to "Tushar in Delhi"            1
 You changed the subject from "Aur chu! Kesa h?" to "DC - 4pm -"                          1
 You changed the subject from "ABCD" to "ARTH"                                            1
 Gotiya added Tosiba                                                                      1
 You changed the subject from "DC - 4pm -" to "Part khatam photo de!"                     1
 You changed the subject from "Kya mile? " to "Aur chu! Kesa h?"                          1
 Gotiya changed this group's icon                                                         1
 You changed this group's icon                                                            1
Name: name, dtype: int64

In [353]:
arth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4028 entries, 0 to 4027
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     4028 non-null   object
 1   Time     4028 non-null   object
 2   name     4028 non-null   object
 3   Message  4028 non-null   object
dtypes: object(4)
memory usage: 126.0+ KB

In [354]:
arth["Message"].value_counts().head(10)

 <media omitted>    345
 ðŸ˜‚ðŸ˜‚                  68
 ðŸ˜‚ðŸ˜‚ðŸ˜‚                 66
0                    31
 ðŸ˜‚                   29
 haa                 23
 ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚                19
 ?                   15
 ok                  11
 bhai                11
Name: Message, dtype: int64