In [5]:
import opendatasets as od

In [9]:
URL = 'https://www.kaggle.com/sobhanmoosavi/us-accidents'

In [10]:
od.download(URL)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: heyrobin
Your Kaggle Key: ········

  0%|                                                                                       | 0.00/299M [00:00<?, ?B/s]

Downloading us-accidents.zip to .\us-accidents

100%|███████████████████████████████████████████████████████████████████████████████| 299M/299M [00:31<00:00, 10.1MB/s]

In [15]:
import pandas as pd

In [22]:
data_dir = '.\\us-accidents'

In [25]:
NY = pd.read_csv('.\\us-accidents\\US_Accidents_Dec20.csv')

In [26]:
NY

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232536,A-4239402,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,False,False,False,False,False,False,Day,Day,Day,Day
4232537,A-4239403,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,False,False,False,False,False,False,Day,Day,Day,Day
4232538,A-4239404,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,False,False,False,False,False,False,Day,Day,Day,Day
4232539,A-4239405,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,False,False,False,False,False,False,Day,Day,Day,Day
4232540,A-4239406,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,False,False,False,False,False,False,Day,Day,Day,Day

In [34]:
NY.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [30]:
NY.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4232541 entries, 0 to 4232540
Data columns (total 49 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   TMC                    float64
 3   Severity               int64
 4   Start_Time             object
 5   End_Time               object
 6   Start_Lat              float64
 7   Start_Lng              float64
 8   End_Lat                float64
 9   End_Lng                float64
 10  Distance(mi)           float64
 11  Description            object
 12  Number                 float64
 13  Street                 object
 14  Side                   object
 15  City                   object
 16  County                 object
 17  State                  object
 18  Zipcode                object
 19  Country                object
 20  Timezone               object
 21  Airport_Code           object
 22  Weather_Timestamp      object
 23  Temperature(F)         float64
 24  Wind_Chill(F)          float64
 25  Humidity(%)            float64
 26  Pressure(in)           float64
 27  Visibility(mi)         float64
 28  Wind_Direction         object
 29  Wind_Speed(mph)        float64
 30  Precipitation(in)      float64
 31  Weather_Condition      object
 32  Amenity                bool
 33  Bump                   bool
 34  Crossing               bool
 35  Give_Way               bool
 36  Junction               bool
 37  No_Exit                bool
 38  Railway                bool
 39  Roundabout             bool
 40  Station                bool
 41  Stop                   bool
 42  Traffic_Calming        bool
 43  Traffic_Signal         bool
 44  Turning_Loop           bool
 45  Sunrise_Sunset         object
 46  Civil_Twilight         object
 47  Nautical_Twilight      object
 48  Astronomical_Twilight  object
dtypes: bool(13), float64(14), int64(1), object(21)
memory usage: 1.2+ GB

In [38]:
NY.notnull().sum()

ID                       4232541
Source                   4232541
TMC                      2716477
Severity                 4232541
Start_Time               4232541
End_Time                 4232541
Start_Lat                4232541
Start_Lng                4232541
End_Lat                  1516064
End_Lng                  1516064
Distance(mi)             4232541
Description              4232539
Number                   1544592
Street                   4232541
Side                     4232541
City                     4232404
County                   4232541
State                    4232541
Zipcode                  4231249
Country                  4232541
Timezone                 4227926
Airport_Code             4223568
Weather_Timestamp        4169897
Temperature(F)           4142641
Wind_Chill(F)            2336540
Humidity(%)              4137074
Pressure(in)             4156157
Visibility(mi)           4133873
Wind_Direction           4148930
Wind_Speed(mph)          3753215
Precipitation(in)        2166952
Weather_Condition        4134158
Amenity                  4232541
Bump                     4232541
Crossing                 4232541
Give_Way                 4232541
Junction                 4232541
No_Exit                  4232541
Railway                  4232541
Roundabout               4232541
Station                  4232541
Stop                     4232541
Traffic_Calming          4232541
Traffic_Signal           4232541
Turning_Loop             4232541
Sunrise_Sunset           4232400
Civil_Twilight           4232400
Nautical_Twilight        4232400
Astronomical_Twilight    4232400
dtype: int64

In [40]:
NY.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
TMC,2716477.0,208.351719,21.244129,200.000000,201.000000,201.000000,201.00000,4.060000e+02
Severity,4232541.0,2.305035,0.533226,1.000000,2.000000,2.000000,3.00000,4.000000e+00
Start_Lat,4232541.0,36.397821,4.964404,24.555269,33.520585,35.825420,40.18313,4.900220e+01
Start_Lng,4232541.0,-95.464196,17.353190,-124.623833,-117.357040,-90.020782,-80.84682,-6.711317e+01
End_Lat,1516064.0,36.900606,5.165629,24.570110,33.854204,37.351342,40.72593,4.907500e+01
End_Lng,1516064.0,-98.599010,18.495903,-124.497829,-118.207746,-94.379875,-80.87449,-6.710924e+01
Distance(mi),4232541.0,0.335702,1.602143,0.000000,0.000000,0.000000,0.08900,4.417500e+02
Number,1544592.0,6141.506532,14922.683337,0.000000,898.000000,2890.000000,7330.00000,9.999997e+06
Temperature(F),4142641.0,61.477986,18.525857,-89.000000,49.000000,63.000000,75.20000,2.030000e+02
Wind_Chill(F),2336540.0,54.893186,22.723551,-89.000000,38.000000,58.000000,73.00000,1.890000e+02
Humidity(%),4137074.0,65.674219,22.723418,1.000000,49.000000,68.000000,85.00000,1.000000e+02
Pressure(in),4156157.0,29.693708,0.863926,0.000000,29.640000,29.930000,30.08000,5.804000e+01
Visibility(mi),4133873.0,9.111991,2.817582,0.000000,10.000000,10.000000,10.00000,1.400000e+02
Wind_Speed(mph),3753215.0,7.903433,5.330998,0.000000,4.600000,7.000000,10.40000,9.840000e+02
Precipitation(in),2166952.0,0.012447,0.163715,0.000000,0.000000,0.000000,0.00000,2.500000e+01