<a href="https://colab.research.google.com/github/heyrobin/Python/blob/main/ML%20-%20AC%20project/Ml_chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [50]:
from google.colab import files

uploaded = files.upload()

Saving prices.csv to prices (3).csv

In [51]:
df = pd.read_csv("prices (3).csv")

In [52]:
df.head(6)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [53]:
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [54]:
df["bedrooms"].median()

4.0

In [55]:
df["bedrooms"] = df["bedrooms"].fillna(df["bedrooms"].median())
df["bedrooms"]

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [56]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis = 'columns'), df["price"])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [57]:
reg.predict([[3000,3,40]])

array([498408.25158031])

In [58]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [59]:
reg.intercept_

221323.00186540396